Ecommerce Purchases Exercise
In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

1.Check the head of the DataFrame.

In [38]:
import pandas as pd

# reading the csv file in to dataframes
dataframe=pd.read_csv("Ecommerce Purchases.txt")

#printing first 5 values of dataframe
dataframe.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

2. How many rows and columns are there?

In [39]:
#getting the shape of the dataframe in row and column
row,column=dataframe.shape
print("Number of rows:",row)
print("Number of columns:",column)

Number of rows: 10000
Number of columns: 14

3.What is the average Purchase Price?

In [40]:
dataframe['Purchase Price'].mean()   #getting the average of Purchase Price in dataframe

50.347302

4.What were the highest and lowest purchase prices?

In [41]:
#getting the maximim of Purchase Price in dataframe
print("Highest Purchase Price: ",dataframe['Purchase Price'].max())

#getting the minimum of Purchase Price in dataframe
print("Lowest Purchase Price: ",dataframe['Purchase Price'].min())

Highest Purchase Price:  99.99
Lowest Purchase Price:  0.0

5.How many people have English 'en' as their Language of choice on the website?

In [42]:
#getting all data where Language is english(en)
english_as_language=dataframe['Language']=='en'

print(english_as_language.sum())

1098

6.How many people have the job title of "Lawyer" ?

In [43]:
#getting all data where Job is Lawyer
Lawyer_as_job=dataframe['Job']=='Lawyer'
print(Lawyer_as_job.sum())

30

7.How many people made the purchase during the AM and how many people made the purchase during PM ?

In [44]:
#getting the data where AM or PM is AM
purchase_AM=dataframe['AM or PM']=='AM'

#counting those data
print("Purchase during AM:",purchase_AM.sum())

#getting the data where AM or PM is AM
purchase_PM=dataframe['AM or PM']=='PM'

#counting those data
print("Purchase during PM:",purchase_PM.sum())

Purchase during AM: 4932
Purchase during PM: 5068

8.What are the 5 most common Job Titles?

In [45]:
#counting the data according to each field in job
job_title_counts = dataframe['Job'].value_counts()

# Display the top 5 most common job titles
top_5_job_titles = job_title_counts.head(5)
print(top_5_job_titles)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

9.Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [47]:
#getting the whole row where Lot is 90 WT
new_dataframe=dataframe[dataframe['Lot']=="90 WT"]
print(new_dataframe['Purchase Price'].values)

[75.1]

10.What is the email of the person with the following Credit Card Number: 4926535242672853

In [80]:
#getting the whole row where Credit Card is 4926535242672853
new_dataframe=dataframe[dataframe['Credit Card']==4926535242672853]
print(new_dataframe['Email'].values)

['bondellen@williams-garza.com']

11.How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [72]:
#getting the whole row where CC Provider is American Express and Purchase Price is greater than 95
new_dataframe=dataframe[(dataframe['CC Provider']=="American Express") & (dataframe['Purchase Price']>95)]
print("Length of people having American Express as their Credit Card Provider and made a purchase above $95 --->",len(new_dataframe))

Length of people having American Express as their Credit Card Provider and made a purchase above $95 ---> 39

12.How many people have a credit card that expires in 2025?

In [78]:
#getting all rows where CC Exp Date contains /25
new_dataframe=dataframe[dataframe['CC Exp Date'].str.contains("/25") ]
print((new_dataframe.shape[0]))

1033

13.What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [79]:
# Extract email providers from the 'email' column
dataframe['Email Provider'] = dataframe['Email'].str.split('@').str[1]

# Count the occurrences of each email provider
top_email_providers = dataframe['Email Provider'].value_counts().head(5)

print("Top 5 most popular email providers:")
print(top_email_providers)

Top 5 most popular email providers:
Email Provider
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64